:root {
    --base: 1200px;
    --lg: 1180px;
    --md: 1024px;
    --sm: 768px;
    --cards-4-width: 22%;
    --cards-4-count: 4;
    --cards-4-mr: calc((100% - (var(--cards-4-width) * var(--cards-4-count))) / calc(var(--cards-4-count) - 1));
    --cards-3-width: 30%;
    --cards-3-count: 3;
    --cards-3-mr: calc((100% - (var(--cards-3-width) * var(--cards-3-count))) / calc(var(--cards-3-count) - 1));
    --cards-2-width: 48%;
    --cards-2-count: 2;
    --cards-2-mr: calc((100% - (var(--cards-2-width) * var(--cards-2-count))) / calc(var(--cards-2-count) - 1));
}

html, body {
    height: 100%;
}

body {
    font-family: 'CoFoSans', sans-serif;
    line-height: 1.5;
}

.container {
    min-width: 290px;
    width: 100%;
    max-width: var(--base);
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.header, .footer {
    flex-shrink: 0;
}

.content {
    flex-grow: 1;
}

.footer {
    min-height: 60px;
}

/* Headings */
.heading {
    font-size: 32px;
    line-height: 37px;
    margin: 30px 0 25px;
    font-weight: 500;
    overflow: hidden;
}

.heading_sm {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 18px;
}

.heading--with-line span{
    position: relative;
}

.heading--with-line span::after {
    content: '';
    display: block;
    height: 2px;
    background-color: #000;
    position: absolute;
    right: 0;
    width: 1000%;
    left: 100%;
    margin-left: 10px;
    bottom: 8px;
}

/* logo */
.logo {

}

/* partners */
.partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.partners img {
    margin: 10px;
}

/* info block */
.info-block {
    font-size: 16px;
    line-height: 19px;
    overflow: hidden;
}

.info-block--indent-top {
    margin-top: 20px;
}

.info-block__item {
    float: left;
}

.info-block__item p:not(:last-child) {
    margin-bottom: 20px;
}

.info-block__item .heading {
    margin-top: 0;
}

.info-block__item .logo {
    margin-top: 50px;
}

.info-block__item_with-img {
    padding: 7px;
}

.info-block__img {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 1px 2px 7px rgba(0, 0, 0, .18);
}

.info-block__item .image {
    height: 200px;
}

/* breadcrumbs */
.breadcrumbs {
    margin-block: 11px;
}

.breadcrumbs__item {
    display: inline-block;
}

.breadcrumbs__item:not(:last-child) {
    margin-right: 32px;
}

.breadcrumbs__link {
    font-size: 16px;
    line-height: 19px;
    color: #828282;
}

.breadcrumbs__link:hover {
    text-decoration: underline;
}


/* card */
.cards-wrapper {
    overflow: hidden;
}

.card {
    float: left;
    margin-bottom: 35px;
    padding-inline: 7px;
}

.card:not(:last-of-type) {
    margin-right: 4%;
}

.card__img {
    background-color: #fff;
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.17701);
    margin-bottom: 20px;
    height: 165px;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

.card__title, .card__des {
    font-size: 20px;
    line-height: 23px;
}

.card__title {
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 5px;
}

.cols-group--col-4 .cols-group__item {
    width: var(--cards-4-width);
    margin-right: var(--cards-4-mr);
}

.cols-group--col-4 .cols-group__item:nth-child(4n) {
    margin-right: 0;
}

.cols-group--col-3 .cols-group__item {
    width: var(--cards-3-width);
    margin-right: var(--cards-3-mr);
}

.cols-group--col-3 .cols-group__item:nth-child(3n) {
    margin-right: 0;
}

.cols-group--col-2 .cols-group__item {
    width: var(--cards-2-width);
    margin-right: var(--cards-2-mr);
}

.cols-group--col-2 .cols-group__item:nth-child(2n) {
    margin-right: 0;
}


@media (max-width: 1180px){
    .container {
        max-width: var(--lg);
    }

    .card__title, .card__des {
        font-size: 18px;
        line-height: 20px;
    }
}

@media (max-width: 1024px){
    :root {
        --cards-4-width: 30.6%;
        --cards-4-count: 3;
    }

    .container {
        max-width: 100%;
    }

    .cols-group--col-4 .cols-group__item:nth-child(4n) {
        margin-right: var(--cards-4-mr);
    }

    .cols-group--col-4 .cols-group__item:nth-child(3n) {
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    :root {
        --cards-4-width: 46%;
        --cards-4-count: 2;
        --cards-3-width: 46%;
        --cards-3-count: 2;
        --cards-2-width: 100%;
        --cards-2-count: 1;
    }

    .container {
        max-width: 100%;
    }

    .info-block__item {
        margin-bottom: 20px;
    }

    .info-block__item .logo {
        margin: 0 auto;
    }

    .cols-group--col-4 .cols-group__item:nth-child(3n) {
        margin-right: var(--cards-4-mr);
    }

    .cols-group--col-4 .cols-group__item:nth-child(2n) {
        margin-right: 0;
    }

    .cols-group--col-3 .cols-group__item:nth-child(3n) {
        margin-right: var(--cards-3-mr);
    }

    .cols-group--col-3 .cols-group__item:nth-child(2n) {
        margin-right: 0;
    }
}

@media (max-width: 480px){
    :root {
        --cards-4-width: 100%;
        --cards-4-count: 1;
        --cards-3-width: 100%;
        --cards-3-count: 1;
    }

    .card:last-child {
        margin-bottom: 0;
    }

    .card__title, .card__des {
        font-size: 16px;
        line-height: 18px;
    }

    .heading {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 15px;
    }

    .heading_sm {
        font-size: 22px;
        line-height: 24px;
    }

    .info-block__item {
        margin-bottom: 40px;
    }

    .info-block__item .logo {
        max-width: 280px;
        width: 100%;
    }

    .partners {
        flex-direction: column;
        align-items: center;
    }

    .partners img {
        margin: 20px;
        margin-inline: 0;
    }

    .partners__sm {
        max-width: 280px;
        width: 100%;
    }
}
